:root {
  --text-color: #fff;
  --todo-bg-color: #ffff66;
  --todo-text-color: #000;
}

#todo-section {
  width: 100%;
  min-width: 500px;
}

#user-name {
  text-transform: capitalize;
  color: var(--text-color);
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#form-todo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#title-sign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

#title,
.sign {
  color: var(--text-color);
  font-size: 1.2rem;
}

input[type="text"] {
  font-size: 1rem;
}

#todo-btn {
  width: 100%;
}

#todo {
  display: flex;
  flex-direction: row;
  color: var(--todo-text-color);
  justify-content: space-between;
  background-color: var(--todo-bg-color);
  align-items: center;
  padding: 0.5rem;
  border-radius: 13px;
  margin: 1rem 0;
}

#todo .todo-items {
  margin: 0.4rem;
}

h5.todo-items,
p.todo-items {
  font-weight: 700;
}

div.todo-items a {
  color: var(--todo-text-color);
}
